<section>
    <header>
        <div class="container mb-3">
            <q>Start writing no matter what. The water does not flow until the faucet is turned on.
            </q>
        </div>
        <a href="/login" class="btn my-3 px-4" name="login" type="submit">Write Your Story</a>
    </header>

</section>