<div class="container text-center pt-5 pl-5 mr-5">
    {{> messages}}
</div>

<section class="container box">
    <div class="row p-4 mt-5">
        <div class="col-4 p-5">
            <h2>Welcome Back</h2>
            <div class="hr"></div>
            <p>Sign in to continue to your account.</p>
        </div>
        <div class="col-8">
            <div class="buttons">
                <a href="/auth/google" class="btn btn-light btn-block" type="submit" name="google"
                    style="background-color: #ffffff; color:black">Continue with <img
                        src="https://img.icons8.com/color/48/000000/google-logo.png" class="icon" />
                    Google</a>

                {{!-- <a href="/auth/facebook" class="btn btn-light btn-block"
                    style="background-color: #4c7ebb; color:#ffffff" type="submit" name="facebook">Continue with
                    <span><i class="fab fa-facebook-f"></i></span>
                    Facebook</a> --}}
            </div>

            <div style="border-top: 1px solid #1f4068;"></div>

            <form action="/login" method="POST">
                <div class="email my-5">
                    <div class="form-group">
                        <input type="email" name="email" id="emailId" class="form-control" placeholder="Email address">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="pwd" class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-block my-3">Sign In</button>

                    <p class="text-center mt-4">Not a member yet? <a href="/register">Sign Up</a></p>
                </div>
            </form>

        </div>
    </div>
</section>