html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.nav-wrapper > .brand-logo,
.sidenav-trigger {
  color: #333333;
}
.sidenav {
  background-color: #333333;
  color: #ffffff;
}
.brand-logo > img {
  width: 2.5em;
  height: 2em;
}
li {
  margin-top: 2em;
}
#white {
  color: #ffffff;
}
.big {
  font-size: 1.2em !important;
}

.btn {
  background-color: #e43f5a;
  color: #ffffff;
}
.btn:hover {
  background-color: #e0455f;
  transform: translate(0, 5px);
  font-weight: 900;
  cursor: pointer;
}

button[type="submit"] {
  border: none;
}
#delete {
  color: #f94141;
  background-color: #ffffff;
}
#delete:hover {
  color: #f94141;
  transform: translate(0, -4px);
  cursor: pointer;
}
.top {
  margin-top: 2em;
}
.bottom {
  margin-bottom: 1em;
}
.padding {
  padding: 2em 0;
}
.padding-top {
  padding-top: 1em;
}
.position {
  background-color: #ffffff;
  position: absolute;
  right: 0;
  left: 70%;
}

.card-image {
  margin-top: 1em;
  padding: 1em;
  width: 10em;
  height: 10em;
}
